<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <meta name="mobile-web-app-capable" content="yes"/>

    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap.css}"/>

    <script type="text/javascript" th:src="@{https://maps.googleapis.com/maps/api/js(libraries=places, key=AIzaSyCVQpVXVLkLwQaf5QKczw9ya6-uPcbftqs)}" async="async" defer="defer"></script>
    <script type="text/javascript" th:src="@{/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/client.js}"></script>
</head>
<body>
<div class="sidenav">
    <input type="text" id="search" placeholder="Enter Restaurant"/><i class="fa fa-caret-down"></i>
    <button class="dropdown-btn" id="AmFood">American Food<i class="fa fa-caret-down"></i></button>
    <button class="dropdown-btn" id="MxFood">Mexican Food<i class="fa fa-caret-down"></i></button>
    <button class="dropdown-btn" id="CHFood">Chinese Food<i class="fa fa-caret-down"></i></button>
    <button class="dropdown-btn" id="ITFood">Italian Food<i class="fa fa-caret-down"></i></button>
    <button class="dropdown-btn" id="searchbtn">Search<i class="fa fa-caret-down"></i></button>
    <div class="fixed">
        <div id="map-canvas"></div>
    </div>
</div>

<div class="slider">
    <div class="slide">
        <div id="container">
            <p id="textName" class="lead text-center"></p>
            <br/>
            <p id="textAddress" class="text-center"></p>
            <br/>
            <p id="textRating" class="text-center"></p>
            <br/>
            <div id="photos"></div>
        </div>
    </div>
    <div class="slide"><p id="textJoke" class="text-center">Please Select/Enter a Food Category. then swipe</p></div>

</div>

    <p></p>
    <div class="Btn" align="center">

        <button id="dislikeBtn">Dislike</button>
        <button id="likeBtn">Like</button>

        <div id="snackbar">YOU LIKED THIS RESTAURANT</div>
    </div>
</body>
</html>
<!--<div class="card" align="center">-->
<!--<img src="https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX20128224.jpg" alt="Avatar"/>-->
<!--<div class="container center">-->
<!--&lt;!&ndash;<div id="container">&ndash;&gt;-->
<!--&lt;!&ndash;<p id="textName" class="lead text-center"></p>&ndash;&gt;-->
<!--&lt;!&ndash;<p id="textAddress" class="text-center"></p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<button id="dislikeBtn" class="buttonRed btn-danger">Dislike</button>-->
<!--<button id="likeBtn" class="buttonGreen btn-success">Like</button>-->